.profile_cont1{
    display: flex;
    flex-direction: row;
    width: 95vw;
}
@media screen and (max-width: 500px) {
    .profile_cont1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.profile_cont2{
    width:100%;
    max-width: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    max-height: 85vh;
}
.profile_cont3{
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 10px;
    padding: 20px;
    max-height: 85vh;
    overflow: scroll;
}
.profile_cont3::-webkit-scrollbar{
    display: none;
}
.detail_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail_img img{
    border: 5px solid rgb(112, 226, 255);
    border-radius: 50%;
    padding: 5px;
    
}
.detail_cont1{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detail_cont2{
    margin: 10px;
    display: flex;
    min-width: fit-content;
    width: 300px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9rem;
}