.upload-post-container {
    display: flex;
    margin-top: 24px;
    
    
  }
  body{
    background: url('/public/uploadback4.jpeg');
  }
  
  .carousel-container {
    width: 100%;
    box-sizing: border-box;
    opacity: 90%;
    
  }
  
  .carousel-container img {
    width: 100%;
  }
  
  .description-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    opacity: 80%;
  }
  
  .location-info {
    display: flex;
    flex-direction: column;
  }
  
  .mb-3 {
    margin-bottom: 20px;
  }
  
  .input-group-text {
    background-color: #4caf50;
    color: white;
  }
  
  #outlined-title,
  #outlined-description,
  #outlined-tags,
  #input-upload-photo {
    
    background-color: aliceblue;
  }
  
  .upload {
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 767px) {
    .upload-post-container {
      flex-direction: column;
    }
  
    .carousel-container {
      height: auto;
      background-size: cover;
    }
  
    .upload-button {
      width: auto;
      margin-top: 10px;
    }
  }
  